lab1_tester
yfs_client1.log
yfs_client2.log
lock_server.log
extent_server.log
foo.txt.yfs1
foo.txt.yfs2
tmprand
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editor
.vscode

tmp.sh
extent_server
lab2*.tgz
lock_demo
lock_server
lock_tester
test-lab2-part1-g
test-lab2-part2-a
test-lab2-part2-b
yfs_client
